# 该 QuantumultX 远程重写配置片段用于获取"哈弗智家签到"账号Cookie
# 配置脚本后打开哈弗智家App，点击“我的-会员中心”可完成获取
# https://raw.githubusercontent.com/0xlane/qx_scripts/main/DailyJobs/QuantumultX/Snippet/HavalZhiJiaCookie.snippet


^https?:\/\/(gw-h5-gateway|gw-app-gateway)\.gwmapp-h\.com\/app-api\/api\/v1\.0\/(signIn\/sign|pointInterflow\/querySumPoint|userAuth\/route\/getUserDetail) url script-response-body https://raw.githubusercontent.com/0xlane/qx_scripts/refs/heads/main/DailyJobs/HavalZhiJia.js

hostname = gw-h5-gateway.gwmapp-h.com, gw-app-gateway.gwmapp-h.com